* {
    box-sizing: border-box;
    margin: 0;
}

h1,
h2 {
    font-family: 'Kavivanar', cursive;
}

.section h2 {
    text-align: center;
    color: white;
    padding: 15px 10px;
    margin: 0;
    background-color: rgba(83, 168, 158, 0.50);
    border-radius: 10px 10px 0 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Indie Flower', cursive;
    min-height: 100vh;
    padding: 0;
    font-size: 18px;
    line-height: 1.5em;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url("../assets/png/bg.png") center fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    padding: 20px 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header-avatar img {
    box-shadow: 0 0 8px 7px rgb(0, 0, 0);
    border-radius: 50%;
}

.nav {
    font-family: 'Kavivanar', cursive;
    color: white;
    background-color: rgba(83, 168, 158, 0.50);
}

.nav-item:hover {
    background-color: rgb(14, 73, 66, 0.50);
    border-radius: 8px;
    text-decoration: underline;
}

.nav-list {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item,
.contacts-list li {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: white;
    transition: color 0.5s;
    padding: 0 20px;
    line-height: 50px;
}

.main-container {
    gap: 20px;
}

.main-container,
.section div {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: calc(50% - 10px);
    margin: 0;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

    .section:hover > h2 {
        cursor: grab;
        background-color: rgba(83, 168, 158, 0.80);
    }

    .section:hover {
        cursor: grab;
        background: rgba(255, 255, 255, 0.8);
    }

.section-body {
    padding: 15px 10px;
}

.section-item a {
    color: #829985;
    text-decoration: none;
    transition: color 0.5s;
}

    .section-item a:hover {
        color: #4d2323;
    }

.section-img {
    position: relative;
    margin: 0;
    padding: 0;
    width: 30%;
    height: 30%;
}

    .section-img img {
        width: 100%;
    }

.section-text {
    width: 70%;
    padding: 0 0 0 10px;
}

    .section-text p {
        margin-top: 0;
    }

.contacts-list {
    margin: 0;
    padding: 0;
}

.skills-list {
    list-style: circle;
    margin: 0;
}

.contacts-item {
    position: relative;
    margin: 0;
    margin-bottom: 13px;
    padding: 0;
    padding-left: 32px;
}

    .contacts-item::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 28px;
        height: 28px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: center;
    }

.my-location::before {
    background-image: url("../assets/png/location.png");
}

.telegram::before {
    background-image: url("../assets/png/telegram.png");
}

.email::before {
    background-image: url("../assets/png/email.png");
}

.discord::before {
    background-image: url("../assets/png/discord.png");
}

.github::before {
    background-image: url("../assets/png/github.png");
}

.link {
    text-decoration: none;
    color: #829985;
    transition: color 0.5s;
}

    .link:hover,
    .footer-link:hover {
        color: #5d7260;
    }

.pre {
    width: 70%;
    padding: 0;
    margin: 0;
}

.footer {
    width: 100%;
    background-color: rgba(83, 168, 158, 0.50);
    color: white;
}

.footer-link {
    text-decoration: none;
    color: white;
    transition: color 0.5s;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 10px;
}

code {
    font-size: 14px;
}

.header-container {
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

.header-profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;
}

.footer-school > p {
    display: flex;
    padding: 15px 0;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}

.footer-school > p a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-school > p a img {
    height: 36px;
}